cse-config-order: 100

# omega need this name
spring:
  application:
    name: edge-service

## CSE configurations
APPLICATION_ID: houseapp
service_description:
  name: ${spring.application.name}
  version: 0.0.1
  environment: development
cse:
  service:
    registry:
      address: https://cse.cn-north-1.myhuaweicloud.com
      instance:
        watch: false
  config:
    client:
      serverUri: https://cse.cn-north-1.myhuaweicloud.com
      refreshMode: 1
      refresh_interval: 5000
  monitor:
    client:
      serverUri: https://cse.cn-north-1.myhuaweicloud.com
  references:
    version-rule: 0.0.0+
  credentials:
    accessKey: BUDCVWSAW04UZVLSZBQR
    secretKey: BHixEctCJFbTkPUVUUjRDSeVwMAknlAy5oB7idgR
    akskCustomCipher: default

  rest:
    address: 0.0.0.0:18080
    server:
      thread-count: 10